name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:15-alpine
        env:
          POSTGRES_USER: diogen
          POSTGRES_PASSWORD: diogen
          POSTGRES_DB: diogen_test
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python 3.10
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"
        cache: 'pip'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Lint with Ruff
      run: |
        ruff check .

    # - name: Type check with MyPy
    #   run: |
    #     mypy .

    - name: Run tests with coverage
      env:
        POSTGRES_USER: diogen
        POSTGRES_PASSWORD: diogen
        POSTGRES_DB: diogen_test
        POSTGRES_HOST: localhost
        SQLALCHEMY_DATABASE_URI: postgresql+asyncpg://diogen:diogen@localhost:5432/diogen_test
      run: |
        pytest --cov=. --cov-report=xml
        
    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v3
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
